body {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: block;
    position: relative;
    margin-left: 50px;
    margin-bottom: 50px;
}

.wrapper {
    display: block;
    position: relative;
    min-width: 300px;
    max-width: 1024px;
}

.title {
    display: inline-block;
    position: relative;
    font-size: 24px;
}

.section {
    display: block;
    margin-top: 20px;
}

.section-button {
    display: inline-block;
    border: 1px solid black;
    font-size: 16px;
    padding: 0px;
    cursor: pointer;
    width: 16px;
    height: 16px;
    vertical-align: initial;
    text-align: center;
}

.minify .section-button {
}

.section-title {
    display: inline-block;
    position: relative;
    font-size: 20px;
}

.textarea-wrapper {
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.options-wrapper {
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin-left: 30px;
}

.minify .options-wrapper {
    display: none;
}

.options-title {

}

.textarea-input {
    margin-top: 10px;
    width: 600px;
    height: 100px;
    font-size: 16px;
/*    resize: none;*/
}

.minify .textarea-input,
.minify .textarea-output {
    border: 0 solid transparent;
    height: 60px;
}

.textarea-output {
    margin-top: 10px;
    width: 600px;
    height: 100px;
/*    resize: none;*/
}

.checkbox-option {
    display: block;
}

.chart-wrapper {
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin-top: 8px;
}

.chart-text,
.chart-ref {
    width: 600px;
    height: 300px;
}

.minify .chart-text,
.minify .chart-ref {
    height: 60px;
}

.display-order-wrapper {
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin-left: 30px;
    margin-top: 20px;
}

.minify .display-order-wrapper {
    display: none;
}

.display-order-title {
}

.display-order-item {
    display: block;
    position: relative;
}

.sub-wrapper {
    display: block;
    position: relative;
    width: 100%;
}

.minify .sub-wrapper {
    display: none;
}

.sub-content {
    display: inline-block;
    vertical-align: top;
}

.sub-input {
    display: inline-block;
    vertical-align: top;
}

.sub-input-text {

}

.sub-input-item {
    display: block;
}

.sub-item {
    display: inline-block;
    position: relative;
    border: 1px solid black;
    margin: 5px;
    min-width: 50px;
    text-align: center;
}

.sub-key {
    display: block;
    position: relative;
    padding: 5px;
    font-size: 30px;
    border: 1px solid black;
}

.sub-value {
    display: block;
    position: relative;
    padding: 5px;
    font-size: 30px;
    border: 1px solid black;
    cursor: move;
}

.section-input {
}

.section-frq {
    display: none;
}

.section-ref {
    display: none;
}

.minify .frq-ref-language {
    display: none;
}

.section-sub {
    display: none;
}

.generate-wrapper-sub {
    width: 600px;
    text-align: center;
}

.generate-button {
    margin-top: 10px;
}

.minify .generate-wrapper-sub,
.minify .sub-input {
    display: none;
}

.section-output {
}

.apply .section-frq,
.apply .section-ref,
.apply .section-sub {
    display: block;
}

.apply-wrapper-input {
    text-align: center;
}

.apply-button {
    margin-top: 10px;
}

.minify .apply-button {
    display: none;
}